<script src="{{ assetsUrl('assets/plugins/jquery/jquery.min.js') }}"></script>
<script src="{{ assetsUrl('assets/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ assetsUrl('assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
<script src="{{ assetsUrl('assets/js/adminlte.min.js') }}"></script>
