@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&display=swap');

@font-face {
  font-family: 'icomoon';
  src:  url('~assets/fonts/icons/icomoon.eot?5cue46');
  src:  url('~assets/fonts/icons/icomoon.eot?5cue46#iefix') format('embedded-opentype'),
    url('~assets/fonts/icons/icomoon.ttf?5cue46') format('truetype'),
    url('~assets/fonts/icons/icomoon.woff?5cue46') format('woff'),
    url('~assets/fonts/icons/icomoon.svg?5cue46#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}