.q-panel .q-tab-panel {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.o-access,
.m-quiz,
.m-listening {
  .q-stepper__header {
    display: none;
  }
}

.primary-error {
  & + .q-field--error .q-field__bottom {
    color: $white;
  }

  & + .q-field--focused .q-field__label {
    color: $white;
  }
}

.q-dialog__inner--maximized > div {
  max-width: em(600) !important;
}

.q-page-container {
  padding-left: em(20);
  padding-right: em(20);
}

.q-stepper--horizontal .q-stepper__step-inner {
  padding: em(24) 0 !important;
}

.no-border {
  &.q-field--standard .q-field__control:before {
    border-bottom: none;
  }
}

.m-card.-translate {
  .q-field__native {
    font-weight: $fontweight.bold;
  }
}

.q-dialog__inner--minimized > div.m-buy {
  max-width em(550);
}

.q-header .q-tab__content, .q-footer .q-tab__content {
  min-width: initial !important;
}

.q-tab__label {
  font-size: em(18) !important;
}

.q-tab--active div {
  font-weight: $fontweight.bold !important;
}

.q-dialog__inner > div.m-store_present-list {
  box-shadow: initial !important;
}

.m-tutorials_video.q-card__section--vert {
  padding-bottom: 0;
}