<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>Olá {{ name }}</h2>
  <p>
    Parece que voçê solicitou reset de sua senha, caso queria prosseguir click no link abaixo:
  </p>
  <p>
    <a href="{{ resetPassword }}" target="_blank">Recuperar senha</a>
  </p>

  <p>
    <strong>Equipe pineappleDevs &copy;</strong>
  </p>
</body>
</html>