.bg-white {
  background: $white !important;

  &.q-dark {
    background: $l-dark !important;

    .q-btn {
      color: $white;
    }

    .m-activities_title {
      color: $primary;
    }
  }
}

.bg-primary {
  background: $primary !important;

  &.q-dark {
    background: $dark-primary !important;

    .fill {
      fill: $dark-primary !important;
    }
  }
}