.bg-white {
  background: $white !important;
  transition: background 0.4s ease;

  &.q-dark {
    background: $l-dark !important;

    .q-btn {
      color: $white;
    }

    .q-dark_title,
    .router-link-active.-active {
      color: $primary;
    }
  }
}

.bg-primary {
  background: $primary !important;
  transition: background fill 0.4s ease;

  &.q-dark {
    background: $dark-primary !important;

    .fill {
      fill: $dark-primary !important;
    }
  }
}

.q-tab-panels.q-dark,
.q-stepper.q-dark {
  background: transparent;
}

.q-stepper.bg-primary.q-dark {
  background: $primary !important;
  border: none !important;
}