.a-title {
  text-align: center;
  font-size: rem(35);
  font-weight: $fontweight.bold;
  line-height: 1;
  padding-top: rem(30);
  margin-top: 0;
  margin-bottom: 0;

  &.-white {
    color: $white;
  }

  &.-sub {
    padding-top: 0;
    padding-bottom: rem(10);
    font-weight: $fontweight.light;
    font-size: rem(35);
    line-height: 1;
  }
}