.a-title {
  text-align: center;
  font-size: em(35);
  font-weight: $fontweight.bold;
  line-height: 1;
  padding-top: em(10);
  margin-top: 0;
  margin-bottom: 0;

  &.-white {
    color: $white;
  }

  &.-sub {
    padding-top: 0;
    padding-bottom: em(10);
    font-weight: $fontweight.regular;
    font-size: em(35);
    line-height: 1;
  }

  &.-primary {
    padding-top: em(0);
    padding-bottom: em(10);
    font-weight: $fontweight.bold;
    color: $primary;
    font-size: em(25);
    line-height: 1;
  }

  &.-left {
    text-align: left;
  }

  &.-light {
    font-size: em(25);
    font-weight: $fontweight.regular;
  }
}