.o-access {
  background: $primary;
}

.o-access_ilustra {
  margin-top: rem(60);
}

.o-access_btn {
  margin-bottom: rem(20);
}

.o-access_step1,
.o-access_step2,
.o-access_step3 {
  background: $primary;
  display: flex;
  flex-direction: column;
}

.o-access_step2 {
  .o-access_ilustra {
    margin-top: rem(-60);
  }

  .o-access_btn {
    margin-top: rem(-30);
  }
}