.o-access {
  background: $primary;
}

.o-access_title {
  text-align: center;
  font-size: rem(35);
  font-weight: $fontweight.bold;
  color: $white;
  line-height: 1;
  padding-top: rem(3e0);
  margin-top: 0;
  margin-bottom: 0;
}

.o-access_text {
  text-align: center;
  font-weight: $fontweight.light;
  font-size: rem(35);
  line-height: 1;
}

.o-access_ilustra {
  margin-top: rem(60);
}

.o-access_btn {
  margin-bottom: rem(20);
}

.o-access_step1,
.o-access_step2,
.o-access_step3 {
  background: $primary;
  display: flex;
  flex-direction: column;
}

.o-access_step2 {
  .o-access_ilustra {
    margin-top: rem(-60);
  }

  .o-access_btn {
    margin-top: rem(-30);
  }
}