.o-error404 {
  min-height: 100vh;
  position: relative;
  background: $primary;
}

.o-error404_ilustra {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.o-error404_content {
  z-index 2;
  padding: 0 20px;
  position: absolute;
}

.o-error404_title {
  color: $white;
  font-size: rem(100);
  padding-top: rem(70);
  text-align: center;
}