.o-error404 {
  min-height: 100vh;
  position: relative;
  background: $primary url('~assets/404/bg-404.png');
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}

.o-error404_content {
  z-index 2;
  padding: 0 rem(20);
  position: absolute;
}

.o-error404_title {
  color: $white;
  font-size: rem(100);
  padding-top: rem(50);
  text-align: center;
}
