.o-forgot {
  padding: 0 rem(20);
  background: url('~assets/forgot/forgot-ilustra.png') no-repeat;
  background-position: center rem(220);
}

.o-forgot_title {
  margin-bottom: rem(20);
}

.o-forgot_btn {
  margin-top: rem(240);
}