.o-header {
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -39px;
    width: 40px;
    height: 40px;
    background: url('~assets/header/border.svg');
    background-size: cover;
  }
}

.o-header_head {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: rem(80);
  padding: rem(20) rem(20) 0;
}

.o-header_title {
  font-size: rem(30);
  font-weight: $fontweight.bold;
}

.o-header_menu {
  padding: rem(10) rem(20);
  padding-left: rem(80);
  overflow: hidden;
  width: 100%;
}

.o-header_menu-slide.swiper-slide {
  width: auto;
  height: auto;  
}

.o-header_menu-item {
  color: $white;
  text-decoration: none;
  font-size: rem(18);
  // transform: translateZ(0) scale(0.95);
  padding: 0 rem(8);
  transition: transform .3s ease;
  transform-origin: center;
  display: block;

  &.-active {
    // transform: translateZ(0) scale(1);
    font-weight: $fontweight.bold;
  }
}

.o-header_money {
  display: flex;
  height: rem(45);
  align-items: center;
}

.o-header_coin {
  max-width: rem(30);
  margin-right: rem(20);
  margin-left: rem(10);
}

.o-header_settings,
.o-header_add-friends {
  margin-right: 0;
  height: rem(35);
}