.o-header {
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -39px;
    width: 49px;
    height: 39px;
    background: url('~assets/header/borda.png');
  }
}

.o-header_head {
  display: flex;
  align-items: center;
  width: 100%;
  padding: rem(20) rem(20) 0;
}

.o-header_title {
  font-size: rem(30);
  font-weight: $fontweight.bold;
  text-transform: uppercase;
}

.o-header_menu {
  padding: rem(10) rem(15);
  overflow: hidden;
  transform: translateX(30%);
  width: 400px;
}

.o-header_menu-item {
  color: $white;
  text-decoration: none;
  font-size: rem(18);
  transform: translateZ(0) scale(0.8);
  padding: 0 rem(8);

  &.-active {
    font-size: rem(22);
    font-weight: $fontweight.bold;
  }
}