.o-home_title {
  position: relative;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
}

.o-home_title::before {
  content: '';
  display: block;
  position: absolute;
  top: -35px;
  right: 80px;
  transform: rotate(20deg);
  background-image: url('src/assets/icones/gradacao.svg');
  background-size: contain;
  width: 60px;
  height: 60px;
  z-index: 9999;
}