.o-home_title {
  position: relative;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
}

.o-home_title::before {
  icon(gradacao);
  display: block;
  position: absolute;
  top: 0;
  color: #ffffff;
}