.o-modal {
  background: $white;
  height: 100%;
  padding: em(20);
  position: relative;
}

.o-modal_header {
  background: $primary
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: em(600);
  width: 100%;
  height: em(45);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: em(20);
  padding-right: em(5);
  color: $white;
  z-index: 10;
}

.o-modal_title {
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-size: em(22);
  font-weight: $fontweight.bold;
}

.o-modal_content {
  margin-top: em(50);
}