.o-reset {
  background: url('~assets/reset/reset-ilustra.png') no-repeat;
  background-size: contain;
  background-position: right em(200);
  padding-bottom: em(20);
  font-size: 1rem;
}

.o-reset_btn {
  margin-top: em(350);
}

@media only screen and (max-width: $media.mb) {
  .o-reset {
    background-position: right em(240);
  }

  .o-reset_btn {
    margin-top: em(265);
  }
}

@media only screen and (min-width: $media.xs) {
  .o-reset {
    background-size: initial;
  }
}