.o-welcome {
  padding: 0 rem(20);
}

.o-welcome_title {
  text-align: center;
  font-size: rem(35);
  font-weight: $fontweight.bold;
  color: $white;
  line-height: 1;
  margin-top: rem(70);
  margin-bottom: 0;
}

.o-welcome_text {
  text-align: center;
  font-weight: $fontweight.light;
  font-size: rem(35);
  line-height: 1;
}

.o-welcome_ilustra {
  margin-top: rem(28);
  margin-bottom: rem(28);
}