.o-welcome {
  background: url('~assets/welcome/ilustra.png') no-repeat;
  background-size: contain;
  background-position: center em(140);
  font-size: 1rem;
}

.o-welcome_btn {
  margin-top: em(260);
}

@media only screen and (max-width: $media.mb) {
  .o-welcome_btn {
    margin-top: em(220);
  }
}

@media only screen and (min-width: $media.xs) {
  .o-welcome {
    background-size: initial;
  }
}