.o-withoutInternet {
  font-size: 1rem;
  background: url('~assets/without-internet/without-internet.png') no-repeat;
  background-size: contain;
  background-position: center center;
  padding-bottom: em(500);
}
.o-withoutInternet_title {
  font-size: em(60);
  margin-bottom: em(40, 60);
}

.o-withoutInternet_text {
  font-size: em(24);
}

@media only screen and (min-width: $media.xs) {
  .o-withoutInternet {
    background-size: initial;
  }
}