<!DOCTYPE html>
<html lang="pt-br">

  @include('partials.head')

  <body class="">
    <div class="page-wrapper">
      @include('partials.navbar')
      @include('partials.sidebar')

      <div class="page-container">
        @include('partials.header')
        <div class="main-content section__content section__content--p30">
          @!section('content')
        </div>
        @include('partials.footer')
      </div>
    </div>

    @include('partials.foot')
  </body>
</html>