<!DOCTYPE html>
<html lang="pt-br">

  @include('partials.head')

  <body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed skin-red">
    <div class="wrapper">
      @include('partials.navbar')
      @include('partials.sidebar')

      <div class="content-wrapper">
        <div class=" content">
          @!section('content')
        </div>
      </div>
    
      @include('partials.footer')
    </div>
  
    @include('partials.foot')
  </body>
</html>