<!DOCTYPE html>
<html lang="pt-br">

  @include('partials.head')

  <body class="">
    <div class="page-wrapper">
      @include('partials.navbar')
      @include('partials.sidebar')

      <div class="page-container">
        @include('partials.header')
        <div class="main-content">
          <div class="section-content section__content--p30">
            <div class="container-fluid">
              @!section('content')
            </div>
          </div>
        </div>
        @include('partials.footer')
      </div>
    </div>

    @include('partials.foot')
  </body>
</html>