<!DOCTYPE html>
<html lang="pt-br">

  @include('partials.head')

  <body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
    <div class="wrapper">
      @!section('content')
    </div>
  
    @include('partials.foot')
  </body>
</html>