<div class="row">
  @each(item in themes)
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
        <strong class="card-title">{{ item.name }}</strong>
        </div>
        <div class="card-body">
          <p class="card-text">{{ item.description }}</p>
        </div>
      </div>
  </div>
  @endeach
</div>