.m-activities_icon {
  max-width: em(80);
  margin-right: em(20);
}

.m-activities_information {
  display: flex;
  align-items: center;
}

.m-activities_title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
  font-size: em(30);
  font-weight: $fontweight.bold;
}

.m-activities_activitie {
  margin-top: 0;
  margin-bottom: em(5);
  font-size: em(22);
}
