.m-buy {
  padding: em(5);
}

.m-buy_cash {
  display: flex;
  font-size: em(18);
  font-weight: $fontweight.bold;
  justify-content: flex-end;
  align-items: center;
}

.m-buy_cash-icon {
  max-width: em(25);
  margin-left: em(10);
}

.m-buy_product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m-buy_product-name {
  font-size: em(26);
  font-weight: $fontweight.bold;
  color: $primary;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.m-buy_product_icon {
  max-width: 150px;
  margin-top: em(20);
  margin-bottom: em(20);
}

.m-buy_product_description {
  font-size: em(18);
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.m-buy_add,
.m-buy_value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: em(18);
}

.m-buy_add-btn {
  background: $primary;
  color: $white;
  margin-left: em(20);
}