.m-changeAvatar {
  background: $white;
  max-width: rem(310);
  width: 100%;
  padding: rem(20) rem(20) 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.m-changeAvatar_item {
  width: rem(50);
  margin-bottom: rem(20);
}