.m-change-theme_title {
  font-weight: $fontweight.bold;
  font-size: em(26);
  line-height: 1;
  margin-top: 0;
  margin-bottom: em(30, 26);
}

.m-change-theme_cards {
  margin-bottom: em(30);
}

.m-change-theme_filter {
  margin-bottom: em(20);
}

.m-change-theme_btn {
  font-size: em(16);
  width: 100%;
  height: em(50, 16);
  background: $primary;
  color: $white;
  font-weight: $fontweight.bold;
}