.m-changeAvatar {
  background: $white;
  max-width: em(310);
  width: 100%;
  padding: em(20) em(20) 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.m-changeAvatar_item {
  width: em(50);
  margin-bottom: em(20);
}