.m-changeAvatar {
  max-width: em(100);
}

.m-changeAvatar_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m-changeAvatar_content {
  display: flex;
  max-width: em(640);
  justify-content: center;
  flex-wrap: wrap;
}

.m-changeAvatar_item {
  & img {
    border-radius: 50%;
  }
}