.m-credits {
  font-size: 1rem;
}

.m-credits_title {
  text-align: left;
  margin-top: em(10);
}

.m-credits_icons {
  display: flex;
  align-items: center;
  margin-bottom: em(5);
}

.m-credits_image {
  max-width: em(55);
  margin-right: em(10);

  &.-big {
    max-width: em(80);
  }
}

.m-credits_credit {
  font-size: em(14);

  a {
    color: $accent;
  }
}