.m-feedback {
  padding: em(15);
}

.m-feedback_status {
  margin-bottom: em(15, 22);
}

.m-feedback_reward {
  display: flex;
  justify-content: space-between;
  margin-bottom: em(20, 18)
}

.m-feedback_text {
  font-size: em(18);
}

.m-feedback_money {
  display: flex;
  align-items: center;
}

.m-feedback_answere {
  font-size: em(20);
  margin-top: em(15, 20);
  line-height: 1;
}

.m-feedback_status,
.m-feedback_answere {
  &.-positive {
    color: $accent;
  }

  &.-negative {
    color: $negative;
  }
}

.m-feedback_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.m-feedback_btn {
  margin-top: em(20, 22);
}