.m-friends_search {
  color: $primary;
  text-decoration: underline;
  font-size: em(16);
  line-height: 1;
}

.m-friends_title {
  font-weight: $fontweight.bold;
  font-size: em(26);
  line-height: 1;
  margin-top: 0;
  margin-bottom: em(30, 26);
}

.m-friends_card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.m-friends_profile {
  display: flex;
  align-items: flex-start;
}

.m-friends_avatar {
  border-radius: 50%;
  margin-right em(10);
}

.m-friends_username {
  font-size: em(18);
  font-weight: $fontweight.bold;
  line-height: 1;
  margin-top: em(5);
  margin-bottom: em(5);
}

.m-friends_level,
.m-friends_xp {
  font-size: em(14);
  margin-top: 0;
  margin-bottom: 0;
}

.m-friends_course {
  max-width: em(35);
  width: 100%;
  margin-top: em(-6);
}

.m-friends_level-spotlight,
.m-friends_xp-spotlight,
 {
  font-weight: $fontweight.bold;
  color: $primary;
  text-align: center;
  line-height: 1;
  margin-top: 0;
}

.m-friends_level-spotlight {
  font-size: em(40);
  margin-bottom: em(10);
}

.m-friends_xp-spotlight {
  font-size: em(28);
  margin-bottom: 0;
}

.m-friends_card-course {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-height: em(80);
}

.m-friends_course-flag {
  width: em(65);
  margin-top: em(6);
  margin-right: em(10);
}