.m-listening_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: em(15);
  padding-bottom: em(15);
  font-size: em(25);
  margin-top: em(20);
  font-weight: $fontweight.bold;
}

.m-listening_btn {
  font-size: em(20);
  color: $primary;
  border: solid em(2, 20) $primary;
  border-radius: em(10);
  margin-top em(10);
}

.m-listening_audio {
  display: none;
}