.m-progressBar {
  width: 100%;
  display: flex;
  align-items: center;

  &.rounded-borders {
    border-radius: 50% !important;
  }
}

.m-progressBar-value {
  color: $accent;
  font-size: em(18);

  &:first-child {
    margin-left: em(15);
  }

  &.-negative {
    color: $negative
  }
}