.m-profile_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m-profile_avatar {
  border-radius: 50%;
}

.m-profile_username {
  color: $primary;
  font-weight: $fontweight.bold;
  text-transform: uppercase;
  font-size: rem(24);
  line-height: 1;
  margin-top: rem(10);
  margin-bottom: rem(30);
}

.m-profile_achievements-title {
  color: $primary;
  font-weight: $fontweight.bold;
  font-size: rem(26);
  line-height: 1;
  margin-top: 0;
  margin-bottom: rem(30);
}

.m-profile_icon {
  max-width: rem(60);
  margin-right: rem(10);
}

.m-profile_card {
  display: flex;
  align-items: center;
}

.m-profile_title {
  margin-top: 0;
  margin-bottom: rem(5);
  line-height: 1;
  font-size: rem(24);
  font-weight: $fontweight.bold;
}

.m-profile_description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: rem(14);
}
