.m-profile_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m-profile_avatar {
  border-radius: 50%;

  &.-small {
    max-width: em(45);
  }
}

.m-profile_username {
  color: $primary;
  font-weight: $fontweight.bold;
  font-size: em(24);
  line-height: 1;
  margin-top: em(10);
  margin-bottom: em(5);
}

.m-profile_edit {
  color: $primary;
  text-decoration: underline;
  font-size: em(16);
  line-height: 1;
  margin-bottom: em(30);
}

.m-profile_title {
  font-weight: $fontweight.bold;
  font-size: em(26);
  line-height: 1;
  margin-top: 0;
  margin-bottom: em(30, 26);
}

.m-profile_icon {
  max-width: em(60);
  margin-right: em(10);
}

.m-profile_card {
  display: flex;
  align-items: center;
}

.m-profile_subtitle {
  font-size: em(24);
  margin-top: 0;
  margin-bottom: em(5, 24);
  line-height: 1;
  font-weight: $fontweight.bold;
}

.m-profile_description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: em(16);
}

