.m-reading_translated {
  display: flex;
  justify-content: flex-end;
  height: rem(25);
  font-weight: $fontweight.bold;
  font-size: rem(14);
  align-items: center;
  margin-bottom rem(10);
}

.m-reading_title {
  font-size: rem(22);
  font-weight: $fontweight.bold;
  color: $primary;
  margin-top: 0;
  margin-bottom: rem(10);
  line-height: 1;
}

.m-reading_text {
  font-size: rem(16);
  margin-top: 0;
  margin-bottom: 0;
}

.m-reading_scroll {
  height: 60vh;
  max-width: 100vw;
}

.m-reading_btn {
  font-size: rem(18);
  font-weight: $fontweight.bold;
  background: $primary;
  color: $white;
}