.m-reading_translated {
  display: flex;
  justify-content: space-between;
  height: em(25);
  font-weight: $fontweight.bold;
  font-size: em(14);
  align-items: center;
  margin-bottom em(10);
}

.m-reading_translated-toggle {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.m-reading_title {
  font-size: em(22);
  font-weight: $fontweight.bold;
  color: $primary;
  margin-top: 0;
  margin-bottom: em(10);
  line-height: 1;
}

.m-reading_text {
  font-size: em(16);
  margin-top: 0;
  margin-bottom: 0;
}

.m-reading_scroll {
  height: 60vh;
  max-width: 100vw;
}

.m-reading_btn {
  font-size: em(18);
  font-weight: $fontweight.bold;
  background: $primary;
  color: $white;
}