.m-settings_title {
  font-size: rem(20);
  font-weight: $fontweight.bold;
  color: $primary;
  margin-top: 0;
  margin-bottom: rem(10);
  line-height: 1;
}

.m-settings_notification {
  margin-top: rem(30);
}

.m-settings_card {
  margin-bottom: rem(5);
}

.m-settings_info {
  display: flex;
  align-items: center;
  height: rem(55);
  overflow: hidden;

  &.-between {
    justify-content: space-between;
  }
}

.m-settings_info-account {
  display: flex;
  width: 50%;
  margin-bottom: 0;
  font-weight: $fontweight.bold;
  font-size: rem(16);
}

.m-settings_info-notifications {
  display: flex;
  margin-bottom: 0;
  font-weight: $fontweight.bold;
  font-size: rem(16);
}

.m-settings_actions {
  display: flex;
  flex-direction: column;
  margin-top: rem(20);
}

.m-setting_actions-item {
  background: $primary;
  color: $white;
  font-weight: $fontweight.bold;
  font-size: rem(16);
  margin-bottom: rem(10);
}