.m-settings_title {
  font-size: em(20);
  font-weight: $fontweight.bold;
  color: $primary;
  margin-top: 0;
  margin-bottom: em(10);
  line-height: 1;
}

.m-settings_notification {
  margin-top: em(30);
}

.m-settings_card {
  margin-bottom: em(5);
}

.m-settings_info {
  display: flex;
  align-items: center;
  height: em(55);
  overflow: hidden;

  &.-between {
    justify-content: space-between;
  }
}

.m-settings_info-account {
  display: flex;
  width: 50%;
  margin-bottom: 0;
  font-weight: $fontweight.bold;
  font-size: em(16);
}

.m-settings_info-notifications {
  display: flex;
  margin-bottom: 0;
  font-weight: $fontweight.bold;
  font-size: em(16);
}

.m-settings_actions {
  display: flex;
  flex-direction: column;
  margin-top: em(20);
}

.m-settings_actions-item {
  background: $primary;
  color: $white;
  font-weight: $fontweight.bold;
  font-size: em(16);
  margin-bottom: em(10);
}

.m-settings_link-about {
  font-weight: $fontweight.bold;
  font-size: em(16);
  color: $black;
  text-decoration: none;
  width: 100%;
  padding: em(14, 16) em(20 ,16);
  margin-bottom: 0;

  &:nth-child(3) {
    margin-top: em(8);
  }
}