.m-search_search {
  display: flex;
  width: 100%;
  margin-bottom: em(20);
}

.m-search_input {
  flex: 1;
}

.m-search_btn-round {
  margin-left: em(20);
  color: $white;
  background-color: $primary;
}

.m-search_title {
  font-weight: $fontweight.bold;
  font-size: em(26);
  line-height: 1;
  margin-top: 0;
  margin-bottom: em(30, 26);
}

.m-search_btn {
  font-size: em(16);
  width: 100%;
  height: em(50, 16);
  background: $primary;
  color: $white;
  font-weight: $fontweight.bold;
}