.m-skeleton {
  border-radius: 20px;
  box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.20);
  margin-bottom: em(20);
  cursor: progress;

  &.-center {
    margin: 0 auto;
  }
}

.m-skeleton_avatar {
  width: em(70);
  height: em(70);
  margin-right: em(20);

  &.-md {
    width: em(90);
    height: em(90);
  }

  &.-center {
    margin 0 auto;
  }
}

.m-skeleton_title {
  width: em(220);
  height: em(30);

  &.-sm {
    width: em(100);
  }

  &.-high {
    height: em(50);
  }

  &.-center {
    margin: 0 auto;
  }
}

.m-skeleton_subtitle {
  width: em(180);
  height: em(25);
}

.m-skeleton_price {
  width: em(60);
  height: em(25);
  margin: 0 auto;
}

.m-skeleton_flag {
  width: em(45);
  height: em(30);
}

.m-skeleton_btn-round {
  margin-left: em(10);
}