.m-text_tabs {
  margin-bottom: rem(20);
  color: $primary;
}

.m-text_tab {
  font-size: rem(22);
}

.m-text_card {
  display: flex;
  justify-content: space-between;
}

.m-text_title,
.m-text_xp {
  font-weight: $fontweight.bold;
  font-size: rem(18);
}

.m-text_xp {
  color: $accent;
}