.m-tutorials_video-title {
  font-size: em(24);
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}

.m-tutorials_modal-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.m-tutorials_modal-btn:first-child {
  margin-right: em(15)
}