@layout('layout.index')

@section('content')
<div class="container-fluid pt-3">
  <div class="row mb-3">
    <div class="col-md-4">
      <button type="button" class="btn btn-danger">
        <i class="fa fa-plus"></i>
          New theme
      </button>
    </div>
  </div>
  @include('partials.themes.index')
</div>
@endsection