// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #f50056
$secondary = #ff5754
$accent    = #00ff6c
$positive  = #059933
$negative  = #991614

$info      = #31CCEC
$warning   = #F2C037

$white   = #FFFFFF;
$black   = #000000;
$gray-11   = rgba(255, 255, 255, 0.4)

$dark     = #2b2b2b;
$l-dark   = #1b1b1b;
$dark-primary = #2b2b2b;